<?PHP

// global settings
$projectName = "ogerarch";

// all directories relative to script location

$projectRoot = __DIR__ . "/..";
$webDir = "{$projectRoot}/web";


// for dbstruct
$dbDefAliasId = "default";
$dbStructFileName = "{$webDir}/dbstruct/dbStruct.inc.php";
$dbStructDumpName = "{$webDir}/dbstruct/dbStruct.sql";

// for appjs-list
$appJsRel = "js/app";
$appJsRoot = "{$webDir}/{$appJsRel}";
$appJsName = "App";
$appJsMain = "app.js";
$appJsList = "{$webDir}/appjslist.inc.php";
$appJsBuildsDir = "{$webDir}/js/builds";


// for prepare dist
$distRoot = "$projectRoot";
$distDir = "{$projectRoot}/../dist";

// maybe split into distExcludeFile and distExcludeDir ???
$distExclude = array(
  "/.*localonly.*/i",
  "|devdocu\$|",
  "|/autobackup/.*sqldump|",
  "|devdata\$|",
  "|devscripts\$|",
  "|devscripts12\$|",
  "|/lib/extjs4/examples|",
  "|/lib/extjs4/docs|",
  "|/lib/extjs4/jsbuilder|",
  "|/lib/ogerlibphp/obsolete|",
  "|/lib/ogerlibphp12/docu|",
);


// for update-shown-version (relative to projectroot)
$versionFile = "$webDir/config/version.inc.php";
$distVersionFile = "$projectRoot/DISTVERSION";


// for licence
$licenseFile = "$projectRoot/LICENSE";

$licenseExclude = array(
  "|/lib/extjs4|",
  "|/lib/tcpdf|",
);



?>
